body {
  background-color: #fff;
}

.container-fluid {
  padding: 65px 0 0 0;
}

.container-section {
  padding: 1rem 2rem;
}

.section-title {
  @extend .mb-2;
  font-weight: bold;
}

.box {
  width: 9rem;
  height: 9rem;
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  border-radius: 0.75rem;
}

.horizontal-scroller {
  overflow: auto;
  white-space: nowrap;

  .scroll-item {
    display: inline-block;
    margin: 0.25rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
